.menu{
    display: flex;
    flex-direction: column;
float: left;
height: 10vh;
justify-content: space-around;
align-items: end; 
padding-left: 20px;

}
.menu > a{
    color: red;
    text-decoration: none;
    list-style: none;
    padding-top:10px ;
    margin-top: 20px;
 font-weight: 400;
    font-size: 18px;
}